
@contentBG:#fff;//菜单内容颜色
@contentBlack:#000;
@mainBG:#f8f8f8;//内容区域北京颜色
@mainlist:#282828;//列表页字体颜色
@defaultFont:#666;//默认字体颜色
@menuFont:#222;//主菜单字体颜色
@mainBorder:#f3f3f3;//主要的border颜色
@borderccc:#eee;//input border颜色
@TwoGradeTitle:#2A2A2A;//二级标题颜色
@menuColor:#0e1a35;//登录颜色
@shadowColor:#EEEEEE;//shadow主要颜色
@popColor:#8c8c8c;
@CCCColor:#CCCCCC;
@titleColor:#999;

@mainBlue:#4a7eff;//主蓝色
@TwoGradeBlue:#f3f7ff;//二级蓝色
@orangeYellow:#ff9e00;//主黄色
@TwoGradeOraYellow:#fffaf2;//二级黄色
@mainGreen:#00B600;//主绿色
@TwoGradeGreen:#f3fcf5;//二级绿色
@mainPink:#FF3C64;//主粉色
@TwoGradePink:#FDF5F7;//二级粉色
@mainPlumRed:#edd3f5;//主梅色
@TwoGradePlumRed:#f5e8fa;//二级梅色
@inputFocus:#409EFF;
@lockColor:#ACC4FF;
